<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>jsreport</title>
    <link rel="shortcut icon" href="/img/favicon.ico">
    <meta name="author" content="Jan Blaha">
    <meta name="description" content="jsreport - javascript business reports">
    <link href="css/font-awesome/css/font-awesome.min.css?v=" rel="stylesheet">
    <link href="css/built.css?v=" rel="stylesheet">
</head>
<body>
<div class="container text-center">
    <h1>Login</h1>

    <div class="grid">
        <div class="row">
            <div class="col-md-4 well col-lg-offset-4">
                <form id="loginForm"  method="POST">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input id="username" name="username" type="text"/>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input id="password" name="password" type="password"/>
                    </div>

                    <% if (viewModel.login) { %>
                    <div class="form-group" style="color: red;">
                        <strong><%= viewModel.login %></strong>
                    </div>
                    <% } %>

                    <div>
                        <input type="submit" class="btn btn-primary" value="Login"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var form = document.getElementById("loginForm");
    if (window.location.pathname.lastIndexOf("login", 0) === 0) {
        form.action = window.location.pathname + window.location.search;
    }
    else {
        if (window.location.search.indexOf("returnUrl") === -1) {
            form.action = "login?returnUrl=" + encodeURIComponent(window.location.pathname + window.location.hash + window.location.search);
        } else {
            form.action = "login" + window.location.search;
        }
    }
</script>
</body>
</html>
